<div class="big-card__container">
    <div class="big-card__image">
        <img src="https://placehold.co/350x250" alt="Placeholder image" srcset=" " />
    </div>
    <div class="big-card__title">
        <a href="#">
            <h1>What to say? No one knows!</h1>
        </a>
    </div>
    <div class="big-card__description">
        <a href="#">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Nec orci
                ornare
                consequat. Praesent lacinia ultrices consectetur.
            </p>
        </a>
    </div>
</div>