<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles">
    <div class="main-article">
        <app-big-card imageCover="https://placehold.co/350x250" cardTitle="Mussum Ipsum"
            cardDescription="Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Nec orci ornare consequat. Praesent lacinia ultrices consectetur."></app-big-card>
    </div>
    <div class="secondary-articles">
        <app-small-card imageCover="https://placehold.co/350x210" cardTitle="Mussum Ipsum"></app-small-card>
        <app-small-card imageCover="https://placehold.co/350x230" cardTitle="Ipsum Mussum"></app-small-card>
        <app-small-card imageCover="https://placehold.co/350x250" cardTitle="Ipsum Mussum Ipsum"></app-small-card>
    </div>
</div>